<!DOCTYPE html>

    <head>
        <title>Pokemon</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <!-- <li><a href="http://localhost:3000">Home</a></li> -->
                    <li><a href="http://localhost:3000/pokemon">All Pokemon</a></li>
                    <li><a href="http://localhost:3000/pokemon">Some link</a></li>
                    <li><a href="http://localhost:3000/pokemon/new">Create new pokemon</a></li>
                </ul>
            </nav>
        </header>

        <main>
